<link rel ="stylesheet" href="{{ asset('css/chat.scss') }}">
<!-- about -->
<div class="about">
    <a class="bg_links social portfolio" href="https://www.rafaelalucas.com" target="_blank">
        <span class="icon"></span>
    </a>
    <a class="bg_links social dribbble" href="https://dribbble.com/rafaelalucas" target="_blank">
        <span class="icon"></span>
    </a>
    <a class="bg_links social linkedin" href="https://www.linkedin.com/in/rafaelalucas/" target="_blank">
        <span class="icon"></span>
    </a>
    <a class="bg_links logo"></a>
</div>
<!-- end about -->

<div class="content">
    <div class="cat">

        <div class="ears">
            <span></span>
            <span></span>
        </div>

        <div class="eyes">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="nose">
            <span></span>
            <span></span>
        </div>

        <div class="mouth">3</div>

        <div class="paws">
            <span></span>
            <span></span>
        </div>

        <div class="tail"></div>

    </div>

    <div class="wall" >
        <p class="text-body" align="center">
            veuillez confirmer votre adresse mail en cliquant sur le lien en dessous: <br><br>
            <a class="bg-danger" href="{{ (path('activation_compte', {'token': app.user.getActivationToken})) }}">Je confirme</a>.
        </p>
    </div>

</div>
<footer class="sticky-footer " style="position: absolute;  bottom: 0;  width: 100%;  margin-top: 50px;">
    <div class="container" align="center    ">
        <div class="copyright text-center my-auto">
            <a href="{{ path('app_login') }}">
            <span style="color: white">Copyright &copy; Your Website 2020</span>
            </a>
        </div>
    </div>
</footer>


