<link rel ="stylesheet" href="{{ asset('css/chat.scss') }}">
<!-- about -->
<div class="about">
    <a class="bg_links social portfolio" href="https://www.rafaelalucas.com" target="_blank">
        <span class="icon"></span>
    </a>
    <a class="bg_links social dribbble" href="https://dribbble.com/rafaelalucas" target="_blank">
        <span class="icon"></span>
    </a>
    <a class="bg_links social linkedin" href="https://www.linkedin.com/in/rafaelalucas/" target="_blank">
        <span class="icon"></span>
    </a>
    <a class="bg_links logo"></a>
</div>
<!-- end about -->

<div class="content">
    <div class="cat">

        <div class="ears">
            <span></span>
            <span></span>
        </div>

        <div class="eyes">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="nose">
            <span></span>
            <span></span>
        </div>

        <div class="mouth">3</div>

        <div class="paws">
            <span></span>
            <span></span>
        </div>

        <div class="tail"></div>

    </div>

    <div class="wall" >
        <p align="center    ">Consulter votre boite email pour confirmer votre inscription</p>

    </div>
</div>
<?php
?>

