
<p class="text-body">
   veuillez confirmer votre adresse mail en cliquant sur le lien en dessous: <br><br>
   <a href="{{ signedUrl|raw }}" style="color: red">Je confirme</a>.
    Ce lien expire dans {{ expiresAt|date('g') }} heure(s).
</p>
