{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="modal-footer">
    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
    <button class="btn btn-primary">Enregistrer</button>
</div>
{{ form_end(form) }}
